.post_button .post_delete_modify_button{
    position: absolute;
    top: -380px;
    margin-left: 660px;
}
.modify_delete_buttonbox button#post_modify.MuiButtonBase-root.MuiButton-root.MuiButton-contained{
    width: 70px;
    height: 40px;
}
.modify_delete_buttonbox button#post_delete.MuiButtonBase-root.MuiButton-root.MuiButton-contained{
    width: 70px;
    height: 40px;
    margin-left: 30px;
}