 .view_post .view_post_paper{

    width: 900px;;
    height: auto;
    min-height: 600px;
    border-radius: 12px;
    border: 3px solid #d5d5d5;
    left: 405px;
    top: -370px;
    margin-bottom: 20px;
}
.view_post{
    width: 100%;
    height: auto;
}
.view_post .searchbar{
    position: relative;
    left: 390px;
    top: 100px;
    width: 900px;
    height: 50px;
}
.view_post .menubarbar{
    position: relative;
    left: 100px;
    top: 130px;
    width: 200px;
    height: 500px;
}
.view_post .board_title{
    position: relative;
    width: 400px;
    height: 100px;
    left: 640px;
    top: 100px;
    text-align: center;
}

.view_post_paper.MuiPaper-root.view_post_paper.MuiPaper-elevation0.MuiPaper-rounded{
    margin-left: 0px;
}
.view_post_paper .view_post_info .MuiTypography-root.MuiTypography-h5{
    padding-left: 10px;
}
.view_post_paper .MuiTypography-root.view_post_nickname{
    padding-left: 10px;
}
.view_post_paper .MuiTypography-root.view_post_etc{
    position: relative;
    margin-left:700px;
    top:-24px;
}
.view_post_paper .postage_info{
    padding-left: 10px;
    height: auto;
    padding-bottom: 100px;
    min-height: 300px;
}
.view_post_paper .postage_info .cardpost_photoslide{
    position: relative;
    left: 200px;
}
.view_post_paper .postage_info .cardpost_content{
    position: relative;
    top: 30px;
}
.view_post_paper .MuiSvgIcon-root{

    width: 70px;
    height: 70px;
}
.view_post_paper.MuiPaper-root.view_post_paper.MuiPaper-elevation0.MuiPaper-rounded .love_button{
    position: relative;
    bottom: 0%;
    left: 463px;
    width: 94px;
}

.view_post .comment_window{
    width: 1020px;
    height: auto;
    min-height: 500px;

}
.view_post .view_post_paper_d{
    position: relative;
    height: auto;
    width: 100%;
}
.view_post .view_post_paper_d .view_post_paper{
    position: relative;
    margin-left: 350px;
}
.view_post .view_post_paper_d .view_post_button{
    position: relative;
    margin-left: 350px;
}


.view_post .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorSecondary{
    position: relative;
    right: 50px;
}
.view_post_paper_d .view_post_button{
    position: relative;
    top: 30px;
}

.view_post .view_post_bottommenu{
    margin-top: -210px;

}
.view_post_button .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary{
    position: relative;
    top: -385px;
    margin-left: 54px;
    width: auto;
    height: 40px;
}
.view_post .view_post_paper_d .comment_window_d{
    border: 3px solid #d5d5d5;
    border-radius: 12px;
    position: relative;
    top:-320px;
    left: 405px;
    width: 900px;
    height: auto;
}
.view_post_paper .view_post_info{
    width: 898px;
    height: 40px;
    padding: 0 2px;
    margin-bottom: 9px;
    margin: 5px 0 29px;
    padding-bottom: 17px;
    border-bottom: 2px solid #d5d5d5;

}
.comment_window_d .MuiPaper-root.comment_window.MuiPaper-elevation0.MuiPaper-rounded{
    width: 900px;
}