
.postage_write_page{
    width: 100%;
    height: auto;
}
.postage_write_page .write_wrap{
    padding: 33px 68px 10px;
    margin-top: 15px;
    border: 2px solid #d5d5d5;
    position: relative;
    top: 100px;
    margin-left: 15%;
    width: 1020px;
    height: auto;
    min-height: 650px;
    background-color: white;
}
.postage_write_page .write_wrap .postage_write_paper{
    width:1020px;
    height: auto;
}
.write_wrap #title_area{
    width: 702px;
    height: 33px;
    padding: 0 12px;
    line-height: 35px;
    border: 1px solid #cecdce;
    color: #333;
}
.write_wrap .sunedidtor{
    width:1020px;
    height:auto;
}
.write_wrap .titleinput{
    margin-bottom: 20px;
}
.postage_write_paper .button_box{
    position: relative;
    margin-left:830px;
    margin-top: 25px;
}
.postage_write_paper #cancel.MuiButtonBase-root.MuiButton-root.MuiButton-contained.cancel{
    width: 70px;
    height: 45px;
    margin-left: 50px;
    
}
.postage_write_paper #submit.MuiButtonBase-root.MuiButton-root.MuiButton-contained.commit{

    width: 70px;
    height: 45px;

}
.postage_write_page .postage_write_bottommenu{
    position: relative;
    top: 150px;
}

.postage_write_page .board_title{
    position: relative;
    width: 350px;
    height: 100px;
    left: 640px;
    top: 110px;
    text-align: center;
}
.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMultiline.MuiOutlinedInput-inputMultiline{
    margin-top: 0px;
}