.marketbody{
    width: 1000px;
    height: auto;
    
    background-color: white;
    margin-bottom: 30px;
}
.market_img{
    width: 500px;
    height: 400px;
    margin-left: 258px;
    margin-top: 40px;
   
}
.img_button1{

    width: 30px;
    height: 30px;
    position: absolute;
    top: 200px;
    right: 200px;
}
.img_button2{

    width: 30px;
    height: 30px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.user_nickname{
    background-color: rgb(238, 235, 235);
    border-radius: 14px;
    width: 700px;
    height: 60px;
    margin-top: 50px;
    margin-left: 160px;
}
.user_img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 100px;
    width: 55px;
    height: 50px;
    float: left;
}
.user_img img{
    border-radius: 100px;
    width: 45px;
    height: 40px;
}
.user_name_part{
    
    width: 300px;
    height: 40px;
    margin-left: 20px;
    padding-top: 15px;
    float: left;

}
.user_name_part p{
    margin-top: 0px;
    font-size: 17px;
    width: auto;
    font-weight: bold;
}
.market_title{
    margin-left: 158px;
    margin-top: 10px;
    width: 700px;
    background-color: rgb(238, 235, 235);
    border-radius: 14px;
    height: auto;
}
.market_title p{
    font-weight: bold;
    font-size: 17px;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 16px;
    margin: 0px;
}
.market_body_text{
    width: auto;
    height: auto;
    padding-bottom: 30px;
    margin-left: 20px;
    font-size: 17px;
}
.soldout{
    width: 100px;
    height: 35px;
    float: right;
    margin-right: 50px;
    margin-top: -4px;
    font-size: 20px;
    color: red;
    font-weight: bold;

}

.love_this{
    
    margin-left: 438px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: bold;
}
.love_this img{
    height: 40px;
    width: 45px;
    border-radius: 100px;
}

.threeButton{
    margin-top:-50px;
    margin-bottom: 30px;
}

.marketcardsale{
    position: relative;
    top:0px;
    left:650px;
}

.marketcardmodify{
    position: relative;
    top:0px;
    left:659px;
}

.marketcarddelete{
    position: relative;
    top:0px;
    left:670px;
}