.view_post .view_post_paper{

    width: 1020px;
    height: auto;
    min-height: 600px;
}
.view_post{
    width: 100%;
    height: auto;
}

.view_post .board_title{
    position: relative;
    left: 640px;
    top: 80px;
    width: 400px;
    height: 100px;
    text-align: center;
    margin-top: 2%;
}

.view_post_paper .postage_title{
    width: 1020px;
    height: 40px;
    padding: 0 2px;
    margin-bottom: 9px;
    margin: 16px 0 29px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eee;

}
.view_post_paper .postage_title .MuiTypography-root.MuiTypography-h5{
    padding-left: 10px;
}
.view_post_paper .MuiTypography-root.view_post_nickname{
    padding-left: 10px;
}
.view_post_paper .MuiTypography-root.view_post_etc{
    position: relative;
    margin-left:820px;
    top:-24px;
}
.view_post_paper .postage_info{
    padding-left: 10px;
    height: auto;
    padding-bottom: 100px;
    min-height: 410px;
}
.view_post_paper .MuiSvgIcon-root{

    width: 70px;
    height: 70px;
}
.MuiPaper-root.view_post_paper.MuiPaper-elevation1.MuiPaper-rounded .love_button{

    position: relative;
    bottom: 0%;
    left: 463px;
    width: 94px;
}

.view_post .comment_window{
    width: 1020px;
    height: auto;
    min-height: 500px;

}
.view_post .view_post_paper_d{
    position: relative;
    top: 70px;
    height: auto;
    width: 100%;
    margin-bottom: 100px;
}
.view_post .view_post_paper_d .view_post_paper{
    position: relative;
    margin-left: 350px;
}
.view_post .view_post_paper_d .view_post_button{
    position: relative;
    margin-left: 350px;
}
.view_post .view_post_paper_d .comment_window_d{
    position: relative;
    top:80px;
    margin-bottom: 100px;
    margin-left: 350px;
}
.view_post_paper_d .pagination_d{
    position: relative;
    top:100px;
   
}

.view_post_paper_d .view_post_button{
    position: relative;
    top: 30px;
}

.postage_info.figure{
    padding-bottom: 0px;
}
figure{
    margin: 0;
}
.view_post .viewpost_bottommenu{
    position: relative;
    top: 100px;

}
.view_post .menubarbar{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 200px;
    height: 500px;
}