.picture{
  height: 250px;
  width: 600px;
}
.picture input{
  display: none;
  position: center;
}
.picture img {
  width: 200px;
  height: 200px;
}
.picture #Icon{
  bottom: 100px;
}

#paper{
  width: 900px;
  height: 1000px;
  background-color: white;
  border-radius: 12px;
}

.clubTitle #clubTitle{
  width:350px;
  height:40px;
  margin-top: 2px;
  margin-bottom:-10px;
}

.clubSubtitle #clubSubtitle{
  width:350px;
  height:40px;
  margin-top: 2px;
  margin-bottom:-10px;
  
}

.clubBody #clubBody{
  width: 600px;
  margin-top: 20px;
}


.background {
  position: relative;
  top: 40px;
  margin-left: 140px;
  
}
.background #writing_button{
  top: 50px;
  left: 580px;
}

.background #cancel{
  top:86px;
  left: 500px;
}