.cardboard .postbody{
    position: relative;
    width: 900px;
    height: 770px;
    background-color: white;
    border-radius: 12px;
    border: 3px solid #d5d5d5;
    left: 405px;
    top: -370px;
    margin-bottom: 20px;
}
.cardboard .board_title{
    position: relative;
    width: 400px;
    height: 100px;
    left: 640px;
    top: 100px;
    text-align: center;
}
.cardboard .searchbar{
    position: relative;
    left: 390px;
    top: 100px;
    width: 900px;
    height: 50px;
}
.cardboard .menubarbar{
    position: relative;
    left: 100px;
    top: 130px;
    width: 200px;
    height: 500px;
}
.cardboard .postage_write_button{
    position: relative;
    top: -375px;
    margin-left: 1218px;
}
.cardboard .postage_write_button #write{
    padding-left: 5px;
    width: 80px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    height: 40px;
}
.cardboard .cardboardBottomMenu{
    position: relative;
    margin-top: -220px;
}
.cardboard{
    width: 100%;
    height: 100%;
}