.club_write_div{
    width: 100%;
}
.club_write_div .searchbar{
    position: relative;
    left: 390px;
    top: 100px;
    width: 900px;
    height: 50px;
}
.club_write_div .menubarbar{
    position: relative;
    left: 100px;
    top: 130px;
    width: 200px;
    height: 500px;
}
.club_write_div .card_write_paper{
    position: relative;
    left: 405px;
    top: -370px;
    width: 880px;
    height: auto;
    border: 3px solid #d5d5d5;
    border-radius: 12px;
    background-color: white;
    
}
.club_write_div .card_write_paper .card_write_content {
    position: relative;
    top: 40px;
    margin-left: 130px;
    
}
.club_write_div .board_title{
    position: relative;
    width: 400px;
    height: 100px;
    left: 640px;
    top: 100px;
    text-align: center;
}
.club_write_div .card_write_paper .card_write_content .club_picture_insert{
    position: relative;
    left: 130px;
    height: auto;
    width: 350px;
}
.club_write_div .card_write_paper .card_write_content .club_picture_insert p{
    display: none;
}

.club_write_div .card_write_paper .clubCategory #clubCategory{
    width:350px;
    height:40px;
    margin-top: 2px;
    margin-bottom:-10px;
    
}
.club_write_div .card_write_paper .card_write_content .clubTitle{
    position: relative;
    top: 10px;
}

.club_write_div .card_write_paper .clubTitle #clubTitle{
    width:350px;
    height:40px;
    margin-top: 2px;
    margin-bottom:-10px;
}
.club_write_div .card_write_paper .clubShowbody #clubShowbody {
    width:625px;
}
.club_write_div .card_write_paper .cardBody #cardBody{
    width: 600px;
}
.club_write_div .card_write_paper .MuiFormControl-root.MuiTextField-root.cardbody{
    margin-bottom: 50px;

}
.club_write_div .card_write_paper .card_write_button_box{
    position: relative;
    top: -70px;
    margin-left: 438px;
}
.club_write_div #cancel.MuiButtonBase-root.MuiButton-root.MuiButton-contained.cancel{
    width: 70px;
    height: 45px;
    margin-left: 50px;
}
.club_write_div #submit.MuiButtonBase-root.MuiButton-root.MuiButton-contained.commit{
    width: 70px;
    height: 45px;
}
.club_write_div .club_write_bottommenu{
    position: relative;
    margin-top: -110px;
}
