
.logtab{
    height:200px;
}
.logtab_id{
    margin-bottom: 10px;
    margin-left: 150px;
}
.logtab_id h5{
    margin-bottom:0px;
    margin-top:0px;

}
.logtab_pw{
    margin-left: 150px;
}
.logtab_pw h5{
    margin-bottom:0px;
    margin-top:0px;
}

.logtab_button{
    margin-left:150px;
    margin-top: 10px;
}

.logtab_button button{
    width:230px;
    height:40px;
    background-color: #000544;
}

.idtab{
    padding-top:20px;
    padding-left: 100px;
    height:180px;
}
.idtab_email h5{
    margin-top:0px;
    margin-bottom:5px;
}
.idtab_button button{
    margin-top: 10px;
    width: 350px;
    height: 45px;
    background-color: #000544;
}

.pwtab{
    height:200px;
    padding-left: 150px;
}
.pwtab_id h5{
    margin-top:0px;
    margin-bottom:5px;
}
.pwtab_pw h5{
    margin-top:0px;
    margin-bottom:0px;
}
.pwtab_button button{
    width:230px;
    height:40px;
    background-color: #000544;
    margin-top: 10px;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
    max-width: 700px;
}