/* .picture{
    height: 250px;
    width: 600px;
}
.picture input{
    display: none;
    position: center;
}
.picture img {
    width: 200px;
    height: 200px;
  }
.picture #Icon{
    bottom: 100px;
}

#paper{
    width: 900px;
    height: 1010px;
    background-color: white;
    border-radius: 12px;
}



#locationText{
    margin-top:10px;
    margin-bottom: 30px;
}

#location{
    width:300px;
    margin-bottom:0px;
}

.location{
    position: absolute;
    top:360px;
    margin-left:80px;
}

#depositText{
    position: relative;
    width:350px;
    height:100px;
    border:1px black;
    margin-top: 10px; 
}

.deposit{
    width:400px;
    margin-top:-120px;
    margin-left:120px;
 
    margin-bottom:0px;
}


.monthlyrent{
    margin-left:90px;
    margin-top:-40px;
}

#optionText{
    font-weight: bold;
}


.content #content{
    width: 600px;
    height:80px;
}


.background {
    position: relative;
    top: 40px;
    margin-left: 140px;
    
}

.background .cancel{
    margin-top:-170px;
    margin-left:40px;
}

.background #writing_button{
    top:-13px;
    margin-left:-80px;
}

 */
