.aaas {
  background-color: white;
  width: 200px;
  bottom: auto;
  height: auto;
  font-size: 3px;
  box-shadow: 1px 1px 4px rgb(207, 207, 207);
}
.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  font-size: 12px;
  font-weight: bold;
}
._body {
  font-weight: bold;
}

.nested {
}
.nested .MuiButton-label {
  width: 100%;
  align-items: inherit;
  justify-content: inherit;
  text-align: left;
  display: inline;
}

.nested_btn {
  position: relative;
  width: 100%;
  text-align: left;
  padding-left: 10%;
  border: none;
  background-color: white;
}
