.marketcardMain {
    
  width: 250px;
  height: 270px;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.cardMain.MuiPaper-elevation1 {
  box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 4px 2px rgba(0,0,0,0.12);
}


.marketproduct{    /*상품명*/
  font-weight: bold;
  font-size:20px;
  margin-top:5px;
  border-radius: 5px;
  width:210px;

  margin-left:20px;

}

.marcketimageArea{
  margin-top:0px;
  widows: 300px;
  height:150px;  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}

.marketlocation{ /*판매자 위치*/
  position: relative;
  top:-12px;
  margin-left:20px;

 
  width: 120px;
  height: 18px;
 

}

.markettime{  /*게시글 포스트 경과 시간*/
  position: relative;
  top:-46px;
  margin-left:170px;

  height: 18px;
  width:70px;
  
}

.marketprice{
  position:relative;
  
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-left:20px;
  margin-top:25px;
  margin-bottom:-57px;
  bottom:95px;
  width:250px;

}


.marketsale{   /*판매중 글씨*/
  position:relative;
  text-align: center;
  width:130px;
  height:28px;
  left:30px;
  bottom:-10px;
  font-weight: bold;
  font-size: 20px;
 /* border:1px solid black;*/
  
}

.marketheart{   /*하트 이모티콘*/

  position: relative;
  left:190px;
  bottom:32px;
 /* border:1px solid red;*/
  width:20px;

}

.marketheartNum{
  position:relative;
  height:2px;
  left:220px;
  bottom:75px;

}

.bottompaper{

  height:50px;
  margin-top:-22px;
}

.bottompaper.MuiPaper-rounded {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
  
.bottompaper.MuiPaper-elevation1 {
  box-shadow: 1px 0px 0px -1px rgba(0, 0, 0, 1), 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(0,0,0,0.12);
}