.board .postbody{
    position: relative;
    width: 900px;
    height: 940px;
    left: 200px;
    top: -185px;
    margin-bottom: 20px;
}
.board .toptop{
    position: relative;
    width: 400px;
    height: 100px;
    left: 640px;
    top: 80px;
    text-align: center;
}
#market_button{
    margin-left: 800px;
}
.board .toptop p{
    font-size: 35px;
    margin-top: 20px;
}
.board .midmid{
    position: relative;
    left: 390px;
    top: 100px;
    width: 900px;
    height: 50px;
}
.board .menubarbar{
    position: relative;
    left: 100px;
    top: 120px;
    width: 200px;
    height: 500px;

}
.board .postage_write_button{
    position: relative;
    top: -365px;
    margin-left: 1218px;
}

.postage_write_button #write{
    padding-left: 5px;
    width: 80px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    height: 40px;
}
.board .boardBottomMenu{
    position: relative;
    margin-top: -330px;
}
.board{
    width: 100%;
    height: 100%;
}