body {
  background-color: #ededf2;
}
.Home{
  width: 100%;
  height: 800px;
}
.Home .searchbox {
  margin-top: 90px;
  margin-left: 330px;
  width: 1000px;
  height: 50px;
}

.Home .home_body {
  position: relative;
  top: -150px;
}

.home_paper {
  height: 600px;
  width: 1000px;
  margin-left: 300px;
  position: relative;
    }
.Shortcuts {
  position: relative;
  top: 170px;
  margin-left: 5%;
}
.Home .home_bottomemenu{
  position: relative;
  top: 10px;
}
